@import "~reset-css/_reset.scss";
@import '~material-design-lite/src/typography/_typography.scss';

.no-margin {
    margin: 0 !important;
}

//.modal>div>div {
//    transform: translate(0,0) !important;
//
//    >div {
//        >div:nth-child(2) {
//            max-height: calc(100vh - 240px) !important;
//        }
//    }
//}

._truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}