.map {
    width: 100%;
    height: calc(100vh - 112px);

    @media (max-width:1023px) {
        height: calc(100vh - 64px);
    }
}

.preloader {
    position: absolute;
    left:50%;
    margin-left: -25px;
    top: 50%;
    margin-top: -25px;
}