.map {
    width: 100%;
    height: calc(100vh - 112px);

    @media (max-width:1023px) {
        height: calc(100vh - 64px);
    }

    &__hint {
        @media (max-width:767px) {
            display: none !important;
        }
        
        @media (min-width:768px) {
            display: block;
            padding: 10px;
            width: 300px;
            color: white;
            border-radius : 5px;
            box-shadow : 3px 3px 3px rgba(0,0,0,0.5);
            background: rgb(0, 188, 212);
        }
    }
}

.preloader {
    position: absolute;
    left:50%;
    margin-left: -25px;
    top: 50%;
    margin-top: -25px;
}