<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мое наследие | Томск</title>
    <link rel="stylesheet" href="/app/main.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <script src="https://api-maps.yandex.ru/2.1/?lang=tr_TR" type="text/javascript"></script>
    <script src="https://vk.com/js/api/share.js?94"></script>
</head>
<body>
<div class="background" id="content-entry"></div>
<script src="/app/main.min.js"></script>
</body>
</html>

